/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset default styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', 'Arial', 'Sans-Serif';
    background-color: #e7eded;
    color: #003b59;
}

/* Body layout */
body {
    display: flex;
    flex-direction: column;
}

/* Flex container */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    width: 100%;
    background-color: #003b59;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    height: 60px;
}

.header-container h1 {
    color: #e7eded;
    font-family: 'Orbitron', 'Arial', 'sans-serif';
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 25px;
    line-height: 1;
    margin: 0;
    text-align: center;
    flex-grow: 1; /* Ensures that heading takes up remaining space */
}

/* Navigation icons */
.home-icon,
.menu-toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.home-icon svg {
    padding-left: 4px;
}

.menu-toggle-label svg {
    padding-right: 4px;
}

.home-icon svg,
.menu-toggle-label svg {
    height: 26px;
    width: 26px;
    fill: #e7eded;
}

/* Dropdown list styles */
#menu-toggle {
    display: none; /* Hides checkbox */
}

#menu-toggle:checked + .menu-toggle-label + nav #nav-menu {
    display: flex;
}

#nav-menu {
    background-color: #003b59;
    list-style-type: none;
    font-size: 0.75rem;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 75px;
    top: 60px;
    right: 0.5rem;
    z-index: 1000;
}

#nav-menu li {
    padding: 1em;
}

#nav-menu a {
    color: #e7eded;
    text-decoration: none;
}

#nav-menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Main content styles */
main {
    flex-grow: 1; /* Ensures that main content area occupies remaining space */
}

/* Footer content styles */
footer {
    background-color: #003b59;
    color: #e7eded;
    text-align: center;
    padding: 1rem 0;
}